
/* Variables */

@import 'variables.css';


/* Class with tags */

/* Class */

.bold{
    font-weight: 800;
}

.box{
    width: 25%;
    padding-bottom: 25%;
    margin: 5% 10%;
    background-color: aqua;
    border-radius: 100px 20px 100px 20px;
    transition: ease-in-out, 0.5s;
}

.box:hover{
    transform: scale(1.05);
    transition: ease-in-out, 0.5s;
}

.cursorPointer{
    cursor: pointer;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

.flexStart{
    justify-content: start;
    align-items: center;
}

.no-wrap{
    flex-wrap: nowrap;
}

.textCenter{
    text-align: center;
}

.ulBottom{
    height: 50px;
    position: absolute;
    bottom: 0px;
    width: var(--rightPartWidth);
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1px solid black;
    background-color: var(--rightPartColor);
}

.ulBottom a{
    margin-left: 5px;
}

.underline{
    text-decoration: underline;
}

.underlinePointer:hover{
    cursor: pointer;
    text-decoration: underline;
}

.width100{
    width: 100%;
}



@media only screen and (max-width: 1500px) {

}