
/* Variables */

@import 'variables.css';


/* Big parts */
#header{
    display: flex;
    justify-content: space-between;
    max-height: var(--headerPartHeight);
    z-index: 2500;
}
#header > div > h1{
    margin: 0px;
    height: 100%;
    align-items: center;
    position: sticky;
    top: 0px;
    display: grid;
    
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 900;

}


#mainPart{
    z-index: 1;
    width: var(--mainPartWidth);
    background-color: var(--mainPartColor);
    display: block;
    height: var(--mainPartHeight);
    overflow: auto;
    color: var(--mainPoliceColor);
}

#mainPart::-webkit-scrollbar {
    display: none;
}

#mainHeader > div{
    background-color: var(--rightPartColor);
}

#rightPart ul{
    padding: 0px;
}

#rightPart ul hr{
    padding: 0px;
    width: 60%;
}

#rightPart ul li{
    height: 70px;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: 800;
    color: var(--policeColor);
    
    list-style: none;

    border-radius: 40px 5px 40px 5px;
    transition: ease-in-out 0.5s;
}

#rightPart ul li:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    transition: ease-in-out 0.3s;
}

#rightPart{
    z-index: 2;
    width: var(--rightPartWidth);
    height: var(--mainPartHeight);
    background-color: var(--rightPartColor);
    display: block;
    overflow: auto;
}

#rightPart::-webkit-scrollbar {
    display: none;
}




/*Others*/

#allContainerDashboard{
    height: var(--mainPartHeight);
    box-sizing: border-box;
}

#allContainerAbsences{
    box-sizing: border-box;
    min-width: 80%;
    max-width: var(--mainPartWidth);
}

#allContainerAbsences div{
    margin-top: 0;
}

#allContainerAbsences div div{
    max-width: 220px;
}

#connection{
    z-index: 2407;
    display: none;
    position: absolute;
    top: var(--headerPartHeight);
    left: 0;
    width: 100%;
    height: var(--mainPartHeight);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}

#connection div{
    margin: 8% auto;
    max-height: 60%;
    width: 40%;
    overflow: auto;
}

#connection.active{
    display: block;
    transition: all ease-in-out 0.3s;
}

#containerAbsencesGrades{
    overflow: hidden;
    width: 60%;
}

#currAgenda{
    width: 30%;
}

#eula{
    display: none;
    position: absolute;
    z-index: 2408;
    top: var(--headerPartHeight);
    left: 0;
    width: 100%;
    height: var(--mainPartHeight);
    background-color: rgba(0, 0, 0, 0.5);
    transition: all ease-in-out 0.3s;
}

#eula div{
    margin: 8% auto;
    max-height: 60%;
    width: 40%;
    overflow: auto;
}

#eula div #buttonEula{
    position: relative;
    left: 85%;
}

#eula.active{
    display: block;
    transition: all ease-in-out 0.3s;
}

#normalpopup div{
    position: absolute;
    z-index: 2409;
    left: 50%;
    transform: translate(-50%, 0%);

    top: -200px;
    transition: all ease-in-out 0.5s;
}

#normalpopup div.active{
    top: 5px;
    transition: all ease-in-out 0.5s;
}

#popupMaster{
    width: var(--mainPartWidth);
    position: absolute;
    z-index: 2409;
}

#recapAbsences table, #recapGrades table{
    margin: 0;
    width: 100%;
    margin-right: 2px;
}

#recapAbsences div div, #recapGrades div div{
    max-height: 150px;
    overflow: auto;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#recapAbsences thead, #recapGrades thead{
    background-color: white;
    color: black;
}

#recapAbsences tbody, #recapGrades tbody{
    background-color: lightgrey;
    color: black;
}

#stillpopup div{
    position: absolute;
    z-index: 2409;
    right: 10px;
    top: -200px;
    transition: all ease-in-out 0.5s;
}

#stillpopup div img{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#stillpopup div.active{
    top: 5px;
    transition: all ease-in-out 0.5s;
}

#theme{
    max-height: var(--headerPartHeight);
    width: auto;
    margin-right: 10px;
}
#theme:hover{
    cursor: pointer;
}

#logoGES{
    width: var(--rightPartWidth);
}
#logoGES img{
    max-width: 100%;
    max-height: 100%;
}



@media only screen and (max-width: 1500px) {
    #mainAgenda .box{
        width: 70%;
        padding-bottom: 70%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 1800px) {
    #allContainerAbsences{
        min-width: 90%;
        margin: 40px auto;
    }
}

@media only screen and (max-width: 1600px) {
    #allContainerAbsences{
        min-width: 95%;
    }
}


@media only screen and (max-width: 800px) {
    #containerAbsencesGrades{
        width: 84%;
    }

    #currAgenda{
        width: 60%;
    }
}