
/* Variables */

@import 'variables.css';


::-webkit-scrollbar {
    display: none;
}

/* Tags  */

body{
    margin: 0px;
    background-color: var(--colorMain);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    color: var(--policeColor);
    background-color: var(--rightPartColor);
}

main{
    display: flex;
    color: var(--policeColor);
}

nav{
    margin-bottom: 50px;
}




@media only screen and (max-width: 1500px) {

}