:root{
    --rightPartWidth: 15%;
    --mainPartWidth: 85%;
    --mainPartHeight: 90vh;
    --headerPartHeight: 10vh;
}

.light{
    --rightPartColor: #0000ba;
    --mainPartColor: lightgrey;
	--colorMain: #E6E6E6;
    --policeColor : white;
    --mainPoliceColor : black;
    --popupColor : grey;
}

.dark{
    --rightPartColor: #2b2b2b;
    --mainPartColor: #444444;
	--colorMain: #1D1D1D;
    --policeColor : white;
    --mainPoliceColor : white;
    --popupColor : grey;
}

/* Font color for the box in #mainPart */
/* .dark #mainPart{
    color: black;
    
} */